.container{
    margin-bottom: 50px;
}
.products{
    background-color: antiquewhite;
    border-radius: 10px;
}


.carousel-indicators .active {
    opacity: 1;
}
.carousel-item{
    padding: 20px 40px;
}
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 4px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color:red;
    background-clip: padding-box;
    border-top: 5px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 10px;
}


h6{
    text-align: end;
    color: lightsalmon;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    padding: 20px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
h4{
    text-align: center;
    
    
}
.button{
    margin: 0;
    position: absolute;
    top: 93%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
h3{
    text-align: center;
}
.under{
        text-decoration: underline lightsalmon;
        bottom: 5px;
}
.y{
    padding-left: 180px;
    margin: 15px;
 
  float: left;
  width: 350px;
}
.z{
    width: 350%;
    position: absolute;
    bottom: 5px;
    padding-left: 100%;

}
.p{
    text-align: center;
}
